
<!-- footer -->
<footer class="footer">
	<div class="container">
		<div class="info-wrap">
			<div class="logo-wrap">
				<a href="" class="logo">
					<span class="logo-title">Проф</span>
					<span class="logo-title">Баня</span>
				</a>
			</div>
			<div class="logo-info">Проектирование и строительство бань из бруса под ключ</div>
			<div class="text-wrap">ОГРН: 1053600591197 <br>ИНН: 3664069397</div>
			<div class="copy-wrap">© Все права защищены. 2021</div>
		</div>
		<div class="menu-wrap">
			<ul>
				<li><a href="" class="link-main">Проекты</a></li>
				<li><a href="" class="link-main">О компании</a></li>
				<li><a href="" class="link-main">Преимущества</a></li>
				<li><a href="" class="link-main">Технология</a></li>
				<li><a href="" class="link-main">Схема работы</a></li>
				<li><a href="" class="link-main">Вопрос-ответ</a></li>
				<li><a href="" class="link-main">Наши работы</a></li>
				<li><a href="" class="link-main">Отзывы</a></li>
			</ul>
		</div>
		<div class="contacts-wrap">
			<div class="phone-wrap">
				<a href="tel:84959601313">+7 (495) 960-13-13</a>
			</div>
			<div class="phone-wrap">
				<a href="tel:88129280888">+7 (812) 928-08-88</a>
			</div>
			<div class="email-wrap">
				<a href="mailto:info@profbanya.su">info@profbanya.su</a>
			</div>
			<div class="callback-wrap">
				<a href="" class="btn button-border button-border-light" data-src="#popup-callback" data-fancybox>
					<span class="button-title">заказать звонок</span>
				</a>
			</div>
		</div>
		<div class="second-info-wrap">
			<div class="links-wrap">
				<p><a href="" class="link-main">Договор оферты</a></p>
				<p><a href="" class="link-main">Политика конфиденциальности</a></p>
			</div>
			<div class="studio-wrap">
				<div class="studio-title">Разработка сайта</div>
				<a href="" class="studio-logo">
					<img src="./img/main/logo.svg" alt="">
				</a>
			</div>
		</div>
	</div>
</footer>
<!-- /footer -->

<div id="popup-callback" class="popup-box" style="display: none;">
	<form action="/" class="frm-main">
		<div class="frm-title-wrap">
			<div class="elm-arrow color-second">
				<div class="arrow-title">обратный звонок</div>
			</div>
		</div>
		<div class="frm-wrap">
			<div class="frm-row">
				<input type="text" placeholder="Ваше имя">
			</div>
			<div class="frm-row">
				<input type="tel" placeholder="+7 000 00 00 00">
			</div>
			<div class="frm-row">
				<input type="email" placeholder="Ваш e-mail">
			</div>
			<div class="frm-row">
				<input type="text" placeholder="Комментарий">
			</div>
			<div class="frm-row-submit">
				<button type="submit">
					<span class="button-title">отправить заявку</span>
				</button>
			</div>
		</div>
	</form>
</div>